<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/doc">Documentation</a></li>
      </ul>
    </nav>
    <div class="container">{{ content }}</div>
    <footer>
      <ul>
        <li><a href="mailto:foo@example.com">Contact</a></li>
        <li><a href="https://github.com/chscott">github.com/chscott</a></li>
      </ul>
    </footer>
  </body>
</html>
